<%- include('partials/header') -%>
<main class="form-section">
  <form class="form-container form-container1" action="/product/add" method="post" enctype="multipart/form-data">
    <h1 class="form-heading">Add Product</h1>
    <input type="text" name="name" placeholder="Enter Product Name" required>
    <input type="file" name="images">
    <input type="number" name="price" placeholder="Enter Price" required>
    <textarea name="description" cols="30" rows="10" placeholder="Product Description"></textarea>
    <input type="text" name="category" placeholder="Enter Category" required>
    <button type="submit" class="login">Add Product</button>
  </form>    
</main>
<%- include('partials/footer') -%>