<%- include('partials/header') -%>
<main class="cart-container">
    <div class="empty-cart">
        <h1 class="my-cart-title">My Cart</h1>
        <div class="center">
            <img src="/images/emptycart.png" alt="">   
            <h3>Your Cart is Empty</h3>
            <h5>Add Item to it now.</h5>
            <button class="shop-now-btn"><a href="/">Shop Now</a></button>
        </div>
    </div>
</main>
<%- include('partials/footer') -%>