<%- include('partials/header') -%>
<main class="form-section">
    <div class="flashes">
        <script type="text/javascript">window.setTimeout("document.querySelector('.flashes').style.display='none';", 5000); </script>
        <% if (alerts.error) { %>
            <% alerts.error.forEach(function(msg) { %>
            <div class="alert alert-error "><%= msg %></div>
            <% }); %>
        <% } %>
        <% if (alerts.success) { %>
            <% alerts.success.forEach(function(msg) { %>
            <div class="alert alert-success"><%= msg %></div>
            <% }); %>
        <% } %>
    </div>    
    <form action="/users/forgot-password" method="POST" class="form-container">
        <h1 class="form-heading">Forgot Password</h1>
        <input type="email" name="email" placeholder="Enter Your Email" required>
        <input type="submit" value="Send Code">
    </form>       
</main>
<%- include('partials/footer') -%>