<!DOCTYPE html>
<html>
  <head>
    <title>Flipkart Clone</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="/images/f-logo.png " />
    <link rel="stylesheet" href="icons/css/all.css" />
  </head>
  <body>
    <header>
      <nav class="top-nav">
        <div class="top-nav-container">
          <div class="flex">
            <div class="flipkart-logo">
              <a href="#">
                <img src="/images/f-logo.png" alt="logo">
              </a>  
            </div>
            <div class="flex search-bar">
              <input type="text" name="search" id="" placeholder="Search for products, brands and more">
              <a href="">
                <i class="fas fa-search"></i>
              </a>
            </div>  
          </div>
          <div class="top-nav-right">
            <a class="flex topnav-signupbtn" href="/users/signup">
              <i class="fas fa-user"></i>
              <h5>Sign Up</h5>
            </a>  
            <!-- <div class="flex login-relative">
              <a class="flex topnav-loginbtn" href="#">
                <h5>My Account</h5>
                <i class="fas fa-sort-down"></i>  
              </a>    
              <div class="login-dropdown">
                <ul>
                  <li>
                    <a href="">
                      <i class="fas fa-user"></i>
                      <h5>My Profile</h5>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <i class="fas fa-user"></i>
                      <h5>Orders</h5>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <i class="fas fa-user"></i>
                      <h5>Wishlist</h5>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <i class="fas fa-user"></i>
                      <h5>Logout</h5>
                    </a>
                  </li>
                </ul>
              </div> 
            </div> -->
            <a class="more-btn" href="#">
              <h5>More</h5>
              <i class="fas fa-sort-down"></i>  
            </a>  
            <a class="flex" href="#">
              <i class="fas fa-shopping-cart"></i>
              <h5>Cart</h5>
            </a>
          </div>
        </div>
      </nav>
    </header>
  </body>
</html>