<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="signup-section">
        <div class="signup-form-container">
            <div class="signup-left-sec">

            </div>
            <div class="signup-right-sec">
                <form action="/users/login" method="POST">
                    <input type="email" name="email" placeholder="Enter Email" required>
                    <input type="password" name="password" placeholder="Enter Password" required>
                    <input type="submit" value="Login">
                    <a href="/users/forgot-password">Forgot Password?</a>
                </form>
                <a href="#">Login with Github</a>
                <a href="#">Login with Google</a>
                <a href="#">Login with Facebook</a>    
            </div>
        </div>
    </section>
</body>
</html>