<%- include('partials/header') -%>
<main class="form-section">
    <form action="/users/signup" method="POST" class="form-container" enctype="multipart/form-data">
        <h1 class="form-heading">Create Your Account <span class="wave">😊</span></h1>
        Name: <input type="text" name="name" placeholder="Enter Name" required>
        Email: <input type="email" name="email" placeholder="Enter Email" required/>
        Mobile Number: <input type="text" name="mobile" placeholder="Enter Mobile Number" required/>
        Password:<input type="password" name="password" placeholder="Enter Password" required />
        Profile Picture: <input type="file" name="avatar">
        <button type="submit" class="login">Signup</button>
        <a class="center" href="/users/login">Already have an account?</a>
    </form>    
</main>
<%- include('partials/footer') -%>