<!DOCTYPE html>
<html>
  <head>
    <title>Flipkart Clone</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="/images/f-logo.png " />
    <link rel="stylesheet" href="/icons/css/all.css" />
  </head>
  <body>
    <header>
      <nav class="top-nav">
        <div class="top-nav-container">
          <div class="flex">
            <div class="flipkart-logo">
              <a href="#">
                <img src="/images/f-logo.png" alt="logo">
              </a>  
            </div>
            <div class="flex search-bar">
              <input type="text" name="search" id="" placeholder="Search for products, brands and more">
              <a href="">
                <i class="fas fa-search"></i>
              </a>
            </div>  
          </div>
          <div class="top-nav-right">
            <a class="flex topnav-signupbtn" href="/users/signup">
              <i class="fas fa-user"></i>
              <h5>Sign Up</h5>
            </a>  
            <a class="flex topnav-signupbtn" href="/users/login">
              <i class="fas fa-user"></i>
              <h5>Login</h5>
            </a>  
            <a class="flex" href="/users/cart">
              <i class="fas fa-shopping-cart"></i>
              <h5>Cart</h5>
            </a>
          </div>
        </div>
      </nav>
    </header>
    <main>
        <div class="product-container">
            <div class="left-side-sec">
              <div class="img-nav">
                <img src="/images/oneplus.jpeg" alt="">
                <img src="/images/oneplus2.jpeg" alt="">
                <img src="/images/oneplus3.jpeg" alt="">
              </div>
              <div class="show-img">
                <div class="product-img">
                  <img src="/images/oneplus3.jpeg" alt="">
                </div>
                <div class="product-btn">
                  <button class="addto-cart-btn">
                    <i class="fas fa-shopping-cart"></i>Add to Cart
                    </button>
                  <button class="buy-now-btn">
                    <i class="fas fa-store"></i>Buy Now
                    </button>
                </div>
              </div>
            </div>
            <div class="right-side-sec">
              <h1 class="product-title">OnePlus 7 (Red, 256 GB) (8GB RAM)</h1>
              <h2 class="product-price">₹ 36,475</h1>
              <ul CLASS="offers">
                <h3 class="bold">Available Offers</h3>
                <li>
                  <i class="fas fa-tag"></i>
                  Bank Offer 5% Unlimited Cashback on Flipkart Axis Bank Credit Card
                </li>
                <li>
                  <i class="fas fa-tag"></i>
                  Bank Offer 10% Unlimited Cashback on SBI Credit Card
                </li>
                <li>
                  <i class="fas fa-tag"></i>
                  No cost EMI ₹3,040/month. Standard EMI also availableView Plans
                </li>      
              </ul>
              <h4 class="warranty"><span class="bold">Warranty:</span> 1 year manufacturer warranty for device and 6 months manufacturer warranty for in-box accessories including batteries from the date of purchase</h4>
              <h4>
                <span class="bold">Description:</span> The OnePlus 7 is here to delight you with its innovative features and stunning design. It gives you an immersive gaming experience with its dual stereo speakers, upgraded vibration engine, and more. Simply touch the screen of this device to unlock and use all its exciting features.
              </h4>
            </div>
        </div>  
    </main>
</body>
</html>