<%- include('partials/header') -%>
<form action="/users/step3" method="post">
    <input type="hidden" name="id" value="<%= id %>">
    <input type="text" name="token" required>
    <input type="submit" value="Check Code">
</form>
<%- include('partials/footer') -%>