<%- include('partials/header') -%>
<main class="form-section">
  <form class="form-container form-container1" action="/product/add" method="post">
    <h1 class="form-heading">Add Product</h1>
    <input type="text" name="name" placeholder="Enter Product Name">
    <input type="file" name="images">
    <input type="number" name="price" placeholder="Enter Price">
    <textarea name="offers" cols="30" rows="10" placeholder="Enter Offers"></textarea>
    <textarea name="highlight" cols="30" rows="10" placeholder="Product Description"></textarea>
    <input type="text" name="warranty" placeholder="Warranty">
    <button type="submit" class="login">Add Product</button>
  </form>    
</main>
<%- include('partials/footer') -%>