/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/******************** My CSS ********************/

*,
*::before,
*::after {
  box-sizing: border-box;
}

.center {
  text-align: center;
}

.flex {
  display: flex;
  justify-content: space-between;
}

:root {
  --white: #fff;
  --accent-color: #b5838d;
  --dark-accent-color: #a6757f;
  --main-color: #6d6875;
  --dark-main-color: #56505f;
}

img {
  width: 100%;
}
/* h1 {
  font-size: 44px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 46px;
}
h4 {
  font-size: 32px;
}
h5 {
  font-size: 28px;
}
h5 {
  font-size: 24px;
} */
a {
  text-decoration: none;
}

body {
  background-color: #b8b5b5;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1480px;
  margin: 0 auto;
}

/******************** Header ********************/

.top-nav {
  background: #094e86;
  padding: 8px;
  color: white;
}

.top-nav a {
  color: white;
}

.top-nav h5 {
  font-size: 16px;
}

.top-nav a:hover {
  color: rgb(255, 238, 143);
}

.top-nav-container {
  max-width: 999px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flipkart-logo img {
  width: 40px;
}

.search-bar {
  position: relative;
}

.search-bar input {
  border: none;
  outline: none;
  padding: 4px 8px;
  font-size: 14px;
  margin: 8px 0 8px 8px;
  width: 360px;
}

.fa-search {
  position: absolute;
  top: 14px;
  right: 8px;
  color: black;
}

.top-nav-right {
  display: flex;
  align-items: center;
}

.topnav-signupbtn {
  cursor: pointer;
  font-size: 0.8em;
  background-color: #0768b8;
  border-radius: 4px;
  padding: 8px 20px;
  margin-left: 16px;
}

.topnav-signupbtn:hover {
  background-color: rgb(32, 115, 148);
}

.topnav-signupbtn i,
.topnav-signupbtn h5 {
  color: var(--white);
  padding: 0 4px;
}

.fa-shopping-cart {
  padding: 0 4px 0 12px;
}

/**************** Sign Up and Login Page ***************/

.wave {
  display: block;
  animation: waving 3s infinite;
  margin: 12px 0;
  font-size: 28px;
}

@keyframes waving {
  0% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(30deg);
  }
}

.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-container button {
  cursor: pointer;
  font-size: 0.8em;
  color: var(--white);
  padding: 1em;
  margin: 0.5em;
  border-radius: 5px;
  border-width: 0px;
  text-transform: uppercase;
}

.form-heading {
  text-align: center;
  font-size: 24px;
  margin-bottom: 16px;
}

.form-container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-top: 10px solid var(--accent-color);
}

.form-container input {
  width: 280px;
  padding: 12px 12px;
  border-radius: 0px;
  border: 0px;
  border-radius: 5px;
  background-color: hsl(0, 0%, 95%);
  margin: 8px 0;
}

.form-container1 input {
  width: 600px;
}

textarea {
  margin: 8px 0;
  border: 0px;
  border-radius: 5px;
  background-color: hsl(0, 0%, 95%);
  padding: 12px 12px;
}

.login {
  background-color: var(--main-color);
}

.login:hover {
  background-color: var(--dark-main-color);
}

.form-container a {
  color: var(--main-color);
  margin-top: 12px;
  text-decoration: underline;
}

.github-login a {
  color: white;
  text-decoration: none;
}

.github-login a:hover {
  color: white;
}

.form-container a:hover {
  color: var(--dark-main-color);
}

.user-img {
  width: 180px;
  border: 1px solid black;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1480px;
  margin: 8px auto;
}

.slider-img {
  padding: 0 8px;
  height: 240px;
}

/* Individual Product */

.product-container {
  max-width: 1480px;
  margin: 0 auto;
  background-color: white;
  width: 100%;
  display: flex;
  border-bottom: 2px solid rgb(180, 180, 180);
}

.left-side-sec {
  display: flex;
  border: 1px solid rgb(224, 222, 222);
}

.img-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-nav img {
  width: 80px;
  height: 80px;
  padding: 18px;
}

.img-nav img:hover {
  border: 2px solid rgb(31, 11, 211);
}

.show-img {
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 1px solid rgb(216, 214, 214);
  border-left: 1px solid rgb(216, 214, 214);
  padding: 8px;
}


.product-btn {
  display: flex;
  margin: 12px 0;
  width: 100%;
}

.addto-cart-btn,
.buy-now-btn,
.shop-now-btn {
  background-color: #ff9f00;
  padding: 12px 18px;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  width: 50%;
  margin: 0 2px;
}

.buy-now-btn {
  background: #fb641b;
}

.show-img .fa-shopping-cart,
.fa-store {
  padding: 0 12px 0 4px;
}

.fa-shopping-cart {
  font-size: 32px;
}

.right-side-sec {
  padding: 16px 32px;
}

.right-side-sec > * {
  padding: 8px 0;
}

.bold {
  font-weight: 600;
}

.product-title {
  font-size: 24px;
  padding: 12px 0;
}

.product-price {
  font-size: 24px;
  font-weight: 800;
  text-align: left;
}

.fa-tag {
  color: rgb(1, 158, 1);
}

/* Cart */

.cart-container {
  max-width: 1280px;
  margin: 0 auto;
  background-color: white;
}

.empty-cart img {
  width: 280px;
  padding: 40px 0 0 0;
}

.shop-now-btn {
  background: #094e86;
  padding: 8px 32px;
  width: 160px;
  text-transform: capitalize;
  font-size: 14px;
  margin: 40px 0;
}

.my-cart-title {
  font-size: 18px;
  padding: 16px;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 600;
}

.empty-cart h3 {
  font-size: 18px;
}

.empty-cart h5 {
  font-size: 14px;
  padding-top: 12px;
}

.empty-cart a {
  color: white;
}

.shop-now-btn:hover {
  background-color: #2e09d4;
}

/* error */

.error-sec {
  padding: 40px 8px;
  background-color: rgb(192, 180, 204);
}

.error-sec h1,
h2 {
  text-align: center;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(218, 22, 22);
}

.error-sec h1 {
  font-size: 48px;
}

.error-sec h2 {
  margin-top: 16px;
  font-size: 28px;
}

.error-sec pre {
  padding: 72px 64px;
  font-size: 18px;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.fa-github {
  margin-right: 8px;
  font-size: 18px;
}

.header-image {
  position: relative;
}

.header-image img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin: 0 12px;
}

.onhover {
  display: none;
  position: absolute;
  background-color: rgb(59, 0, 0);
  border-radius: 4px;
  padding: 4px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}

.header-image a:hover ~ .onhover {
  display: block;
}

.product-in-cart {
  position: absolute;
  right: 14px;
  top: 6px;
  color: red;
  font-weight: 600;
}

.relative {
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.logout-link a {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.project-container {
  padding: 8px;
  flex-wrap: wrap;
}

.project-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
}

.single-project-card {
  padding: 8px;
  border: 2px solid rgb(65, 37, 37);
  text-align: center;
}

.single-project-card > * {
  padding: 8px;
}

.single-project-card > img {
  width: 100%;
}

.single-project-card h3 {
  font-size: 28px;
}

.add-to-cart {
  padding: 8px 32px;
  background-color: red;
  color: white;
  text-decoration: none;
}

.index-heading {
  font-size: 28px;
  font-weight: 600;
  padding: 24px 0;
}

.shopping-cart-small {
  font-size: 18px;
}

/* Table */


#customers {
  width: 800px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

.flashes {
  width: 100%;
  margin: 12px 0;
}

.alert {
  color: #ffffff;
  padding: .75rem 1.25rem;
  font-size: 16px;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all 0.25s ease-in-out;
}

.alert-success {
  background-color: #d4edda;
  border-color: #c3e6cb;
  background: rgb(29, 92, 0);
}

.alert-error{
  background-color: #f8d7da;
  border-color: #75030e; 
}