/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/******************** My CSS ********************/

*, *::before, *::after {
  box-sizing: border-box;
}

.flex {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
}

li {
  list-style: none;
}

/******************** Header ********************/

.top-nav {
  background: #2874f0;
  padding: 8px;
  color: white;
}

.top-nav a {
  color: white;
}

.top-nav .fas {
  font-size: 14px;
}

.top-nav h5 {
  font-size: 16px;
}

.top-nav a:hover {
  color: rgb(255, 238, 143); 
}

.top-nav-container {
  max-width: 999px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flipkart-logo img {
  width: 40px;
}

.search-bar {
  position: relative;
}

.search-bar input {
  border: none;
  outline: none;
  padding: 4px;
  font-size: 12px;
  margin: 8px 0 8px 8px;
  width: 360px;
}

.fa-search {
  position: absolute;
  top: 14px;
  right: 8px;
  color: black;
}

.top-nav-right {
  display: flex;
  align-items: center;
}

.topnav-signupbtn {
  background-color: white;
  border: 1px solid #dbdbdb;
  padding: 4px 12px;
}

.topnav-signupbtn:hover {
  background-color: rgb(177, 177, 177);
  border: 1px solid rgb(177, 177, 177);
}

.topnav-signupbtn i, .topnav-signupbtn h5 {
  color: black;
  padding: 0 4px;
}

.topnav-loginbtn {
  display: flex;
}

.topnav-loginbtn h5 {
  color: #ffffff;
}

.fa-sort-down {
  padding: 0 20px 0 4px;
}

.fa-shopping-cart {
  padding: 0 4px 0 12px;
}

.login-relative {
  position: relative;
}

.login-dropdown {
  display: none;
  position: absolute;
  top: 28px;
  left: -16px;
  border-radius: 4px;
}

.topnav-loginbtn:hover ~ .login-dropdown {
  display: block;
}

.login-dropdown ul {
  background-color: rgb(255, 255, 255);
  width: 160px;
}

.login-dropdown ul li {
  padding: 4px 12px;
  border-bottom: 1px solid black;
  height: 32px;
}

.login-dropdown ul li:last-child {
  border-bottom: none;
}

.login-dropdown ul li:hover {
  background-color: rgb(160, 158, 158);
}

.login-dropdown ul li a {
  display: flex;
  color: black;
  font-size: 14px;
}

.login-dropdown ul li a i {
  width: 16%;
}

.login-dropdown ul li a h5 {
  width: 84%;
}

.more-btn {
  display: flex;
  margin-left: 20px;
}

/**************** Category Bar ***************/


/* Sign Up Form */

.signup-section {
  background-color: chocolate;
}

.signup-form-container {
  max-width: 999;
  margin: 0 auto;
}